.container {
  width: full;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #c2c2c2, #dcdf43, #635d26);
}
mad-card{
  padding: 50px;
  border-radius: 10px;
}

/* sale mal con esto
mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
*/
.login-logo {
  border-radius: 50%;
  background: #fff;
  width: 80px;
  height: 80px;
  margin: 0 auto 16px;
}

.login-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;

  @media (max-width: 600px) {
    width: 200px;
    height: 200px;
  }
}

mat-card-content {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 100%;
}
